*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none; }
  *:focus,
  *::after:focus,
  *::before:focus {
    outline: none; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  box-sizing: border-box;
  background: linear-gradient(rgba(1, 2, 78, 0.8), rgba(1, 2, 78, 0.6)), url("../imgs/16928.jpg");
  box-shadow: inset 0 0 0 1000rem rgba(1, 2, 78, 0.5);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }

a {
  text-decoration: none; }
  a:link, a:visited, a:hover, a:active {
   /* color: #ff6464; */}

* {
  font-family: 'Crimson Text', serif; }
.btn-1 > a {color: #FFF;display: block; padding: 2px 1px;}
.btn-1 {
  background-color: #ff6464;
  color: white;
  width: 10rem;
  border: none;
  display: inline-block;
  border-radius: 100px;
  height: 3.4rem;
  font-size: 2rem;
  text-align: center;
  margin: 0.5rem; }
  .btn-1:hover {
    transform: translateY(0.05rem);
    transition: .05s; }
  .btn-1:active {
    transform: translateY(0.2rem);
    transition: .05s; }
  .btn-1:focus {
    outline: none; }

.heading {
  display: block;
  height: 60vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  .heading__text {
    font-size: 2.5rem;
    color: #ff6464; }

.login-box {
  color: #ff6464;
  background-color: rgba(84, 56, 100, 0.8);
  display: block;
  height: 40rem;
  width: 30rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem; }
  .login-box__title-box {
    font-size: 2rem;
    margin-top: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  .login-box__field-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .login-box__field-box__login-title {
      transform: translateY(-3rem); }
    .login-box__field-box__field {
      margin-top: 1rem;
      margin-bottom: 2.5rem;
      color: white;
      background-color: rgba(1, 2, 78, 0.5);
      border: none;
      height: 2.4rem;
      border-radius: 0.5rem; }
    .login-box__field-box.btn-1 {
      left: 50%;
      transform: translateX(-50%); }
    .login-box__field-boxa {
      left: 50%;
      transform: translateX(-50%);
      margin-top: 1rem; }

.navbar {
  position: fixed;
  height: 10vh;
  background-image: linear-gradient(to bottom right, #01024e, #543864);
  width: 100%;
  display: block; }
  .navbar__title {
    color: white;
    font-size: 4rem; }
