
*
{
  margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

.App {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

html 
{
    font-family: sans-serif;
    background-color: #5f6769;
    font-size: 62.5%;
}

.menu
{
    position: absolute;
    color: #dfcdc3;
    top: 0;
    width: 20%;
    height: 90vh;
    background-color: #3c4245;
    display:inline-block;
    margin: 5vh 0 5vh 5vh;
    border-radius: 1rem;
    font-size: 2rem;
}

.menu-titulo
{
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 3rem;
}

.sessoes
{
    overflow: auto;
    height: 50%;
    padding: 1rem;
}

.sessao
{
    margin-top: 1rem;
    height: auto;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: block;
}

.item-sessao
{
    position: relative;
    height: auto;
    width: 80%;
    display: block;
    margin: 5px 0 5px 20%;
}

.game
{
    position: absolute;
    left: 25%;
    display: inline-block;
    height: 100vh;
    width: 75%;
    background-color: #5f6769;
    font-size: 1.5rem;
}

.game-tela
{
    position: relative;
    top: 0;
    height: 65vh;
    width: 95%;
    display: block;
    background-color: gray;
    margin: 5vh 0 5vh 0;
    border-radius: 10px;

}

.imagem
{
    background-image: url('./resources/bg1.jpg');
    background-size: cover;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 75%;
}

.caixa-dialogo
{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    height: auto;
    bottom: 10%;
    left: 50%;
    padding: 2rem;
    text-align: center;
    transform: translateX(-50%);

}

.opcoes
{
    color: #3c4245;
    height: 20vh;
    width: 95%;
    position: relative;
    bottom: 0;
    margin: 5vh 0 5vh 0;
    background-color: gray;
    border-radius: 10px;
    text-align: center;
}

.opcoes-box
{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    overflow: auto;
    height: auto;
    margin: 15px 0 15px 0;
    
}

.game-opcao
{
    display: block;
    background-color: #dfcdc3;
    margin: .5rem 0 .5rem 0;
    border-radius: 10px;
}

.statsbox
{
    text-align: center;
    overflow: auto;
    height: 50%;
    position: relative;
}

h3
{
    text-align: center;
    margin: 10px 0 10px 0;
}

.modal_combate
{
    z-index: 1000;
    width: 100rem;
}

.info-col, .imagem_ataque
{
    display: inline-block;
}

.imagemCombate, .ataques
{
    display: block;
}

.imagemCombate
{
    height: 70%;
    background-image: url('./resources/D_D_Art_and_Arcan__Regular_Edition__book_cover.0.jpg');
    background-size: cover;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem; 
}

.ataques
{
    height: 30%;
    position: relative;


}

.info-col
{
    height: 60%;
    width: 20%;
    transform: translateY(-50%);
    font-size: 2.2rem;
    text-align: center;

}

.info1
{
    left: 0;
}

.info2
{
    right: 0;
}



.imagem_ataque
{
    height: 100%;
    width: 60%;
}

.ataque-basico
{
    height: 10rem;
    width: 10rem;
    background-image: url('./resources/sword.png');
    background-size: cover;
    border-radius: 100%;
    border: 1rem solid black;
    margin-left: 5rem;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

