.login-box {
    color: $color-4;
    background-color: rgba($color-2, 0.8);
    display: block;
    height: 40rem;
    width: 30rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;

    &__title-box {
        font-size: 2rem;
        margin-top: 3rem;
        position: absolute;
        @include centralizar-horizontal;

    }

    &__field-box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        &__login-title {
            transform: translateY(-3rem);
        }
    
        &__field {
            margin-top: 1rem;
            margin-bottom: 2.5rem;
            color: white;
            background-color: rgba($color-1, 0.5);
            border: none;
            height: 2.4rem;
            border-radius: 0.5rem;
    
        }

        btn-1{
            @include centralizar-horizontal;
        }
    }
}