.navbar{
    position: fixed;
    height: 10vh;
    background-image: linear-gradient(to bottom right, $color-1, $color-2);
    width: 100%;
    display: block;

    &__title{
        color: white;
        font-size: 4rem;
    }
}