<!DOCTYPE html>
<html ng-app = "telaJogo">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Dungeon Sem Dragons</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script> -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">-->
    <!-- Bulma Version 0.7.x-->
    <link rel="stylesheet" href="../bulma/css/bulma.css" />
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script> -->
    <!--<link rel="stylesheet" type="text/css" href="../css/login.css">-->
</head>
<body ng-controller="telaJogoContr" onload="CasteloPhyton1Button1()">
   <!--<script>alert("tutu");</script>-->
   <!--<script src="../js/testGamepage/test1.js"></script>-->
    <label id="topEmail"></label>
    <section class="hero is-black is-fullheight">
        <div class="buttons">
            <div id="emailuser" class="button is-dark"></div>
            <div class="button is-dark">b</div>
            <div class="button is-dark">c</div>
            <div class="button is-dark">d</div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-2">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-dark">
                    <aside class="menu">
                        <p class="menu-label">
                            General
                        </p>
                        <ul class="menu-list">
                            <li><a>Dashboard</a></li>
                            <li><a>Customers</a></li>
                        </ul>
                        <p class="menu-label">
                            NPC
                        </p>
                        <ul class="menu-list">

                            <h1 ng-repeat="escolha in escolhas">
                                {{escolha}}
                            <h1> <!--será usado para fazer mostrar as escolhas do usuario-->


                            <!--<li ng-repeat="escolha in escolhas">{{escolha}}</li>-->
                            <li><a>Team Settings</a></li>
                            <li>
                            <a class="is-active">Manage Your Team</a>
                            <ul>
                                <li><a>Members</a></li>
                                <li><a>Plugins</a></li>
                                <li><a>Add a member</a></li>
                            </ul>
                            </li>
                            <li><a>Invitations</a></li>
                            <li><a>Cloud Storage Environment Settings</a></li>
                            <li><a>Authentication</a></li>
                        </ul>
                        <p class="menu-label">
                            Passagens
                        </p>
                        <ul class="menu-list">
                            <li><a>Payments</a></li>
                            <li><a>Transfers</a></li>
                            <li><a>Balance</a></li>
                        </ul>
                    </aside>
                
                    </article>
                </div>
            </div>
            <div class="tile is-vertical is-8">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-danger">
                        <p class="title">Tela do Jogo</p>
                        <p class="subtitle">Aqui vão as imagens do jogo</p>
                        <div class="main" id="main">
                            <!-- Content -->
                        </div>
                        
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-dark">
                    <div class="content">
                        <p class="title">Outras Opções</p>
                        <p class="subtitle">With even more content</p>
                        <div class="content">
                            <!-- Content -->
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <!--<script async type="text/javascript" src="../js/bulma.js"></script>-->
    <script type="text/javascript">
        window.onload = function(req, res){
            var emailLabel = document.getElementById('emailuser');
            var usuario = document.cookie.substring(document.cookie.indexOf('email=')+6) //pega depois que aparece o 'email=' na string do cookie
            usuario = usuario.replace("%40","@"); // troca o valor do %40 por @ para aparecer o emial bonitinho
            emailLabel.innerText = usuario; // insere o email na label
        }
        
    </script>
    <script src="../js/CasteloPhyton1/Button1.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script type="text/babel" src="../js/board.js"></script>
    
    <script>
        function myFunction() {
            alert('You clicked the bottom text'); 
        }
        </script>
    <!--<script src="../js/testGamepage/test1.js"></script>-->
</body>
<!--type="text/babel"-->
</html>